.container {
  padding: 0 3em;
  margin: 0 -3em;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
}

.artistInfo {
  flex-direction: column;
  position: sticky;
  top: 0rem;
  left: 0rem;
  display: flex;
  height: fit-content;
  margin: 0rem 1em 0 0;
  align-items: center;
  padding: 5rem 0 0;
  img {
    border-radius: 50%;
    max-width: 190px;
  }
}

.tableContainer {
  max-height: inherit;
  margin: 0 1vw;
  padding: 0 1vw;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    overflow: overlay;
    margin: 0 1vw;
    padding: 0 1vw;
  }
  .artistInfo {
    margin: 1em;
    padding: 0;
  }
}

@media (min-width: 900px) {
  .tableContainer {
    overflow: overlay;
  }
}
