.tableConatiner {
  padding: 0 3em;
  margin: 0 -3em;
}
.tableConatiner::-webkit-scrollbar {
  width: 0.4em;
}

.tableConatiner::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.534);
  outline: 1px solid darkgrey;
  border-radius: 15px;
}
.err {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20vh);
}

@media (max-width: 900px) {
  .tableConatiner {
    max-height: calc(100vh - 14vh);
    padding: 0 1rem;
    margin: 0;
    max-width: 100vw;
  }
}
