.container {
  background: #ffffff;
  box-shadow: 0px 2px 12px #3333338a;
  height: 80vh;
  width: 60vw;
  min-width: 600px;
  border-radius: 15px;
  margin: 0 0 0 2em;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
  min-height: 100%;
}
@media (max-width: 900px) {
  .container {
    min-width: 100vw;
    border-radius: 0;
    padding-top: 1em;
    margin: 0;
  }
  .wrapper {
    width: 100vw;
  }
}

@media (min-width: 900px) {
  .container {
    flex-grow: 2;
  }
}
