body {
  margin: 0;
  font-family: "Muli", sans-serif;
  background-color: #eeeeee;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 1.3em;
  margin: 0 auto;
}

.section {
  min-height: calc(100vh - 1em);
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .container {
    padding: 0;
    width: 100vw;
  }
  .section {
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .section {
    flex-grow: 1;
  }
}
